<template>


	<div class="container-fluid scopepage" style="position: relative">

		<div class="form-group">
			<div class="btn-group">
				<a href="#" class="btn btn-default">Users</a>
				<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a v-on:click="setUser(0)">Overall Status</a></li>
					<li><a v-on:click="setUser(23)">Trav</a></li>
					<li><a v-on:click="setUser(11)">Gus</a></li>
				</ul>
			</div>

			<button class="btn btn-primary btn-sm" v-on:click="fetch()" >Refresh</button>
		</div>



		<div class="row" v-for="(scopeItems, header) in list">


			<h2>{{header}}</h2>


			<div class="col-md-12" v-for="(items, group, index) in scopeItems.items">

				<div class="panel panel-default" style="position: relative">
					<div class="panel-heading"  @click="items.show = !items.show">
						<div class="panel-title pull-left">
							{{group}} - {{show[index]}}
						</div>
						<div class="panel-title pull-right">
							<small>{{items.totals.Responses}} Responses </small>
							<span class="label label-danger" >{{items.totals.Open}} Open</span>
							<span class="label label-warning" >{{items.totals.Pending}} Pending</span>
							<span class="label label-success" >{{items.totals.Complete}} Complete</span>
							<span class="label" style="width: 50px"  :class="( items.totals.Pass  == 0 ) ? ' label-default' : ' label-success'">{{items.totals.Pass}} Pass</span>
							<span class="label" style="width: 50px" :class="( items.totals.Fail  == 0 ) ? ' label-default' : ' label-danger'">{{items.totals.Fail}} Fail</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div  @click="items.show = !items.show"
					      style="position: absolute;top: 0;opacity: 0.1;height: 42px;border-right: 4px solid black;" v-bind:style="{ width: items.totals.SuccessRate + '%', background: items.totals.HexColor }"></div>


					<div class="panel-body" v-if="items.show">

						<div v-if='items'>

							<div v-for="(functionItems, func) in items.items">

								<h3>{{func}}</h3>


								<table class="table scopetable">
									<thead>
									<tr>
										<th width="5%" v-if="items.client_edit">Del</th>
										<th width="35%">Function</th>
										<th width="15%">Status</th>
										<th width="10%">Last Tested</th>
										<th width="10%">When</th>
										<th width="4%" class="text-center">Responses</th>
										<th width="4%">Pass/Fail</th>
										<th>Comment</th>
										<th width="4%">Action</th>
									</tr>
									</thead>
									<tbody v-if="functionItems"  v-for="(item,index) in functionItems.items">

										<tr>
											<td v-if="items.client_edit">
												<a v-on:click="del(item.id,index,functionItems.items)">Del</a>
											</td>

											<td v-on:click="item.dirty = true">
												<span v-if="!item.dirty">{{item.function}}</span>

												<input v-model="item.function" type="text" @change="item.dirty = true" :disabled="item.sending"
												       v-if="item.dirty" name="body" class="form-control">
											</td>

											<td>
												<select v-model="item.status" @change="item.dirty = true" :disabled="item.sending" class="form-control">
													<option value="Open">Open</option>
													<option value="Pending">Pending</option>
													<option value="Complete">Complete</option>
												</select>
											</td>

											<td>{{item.name}}</td>
											<td>{{item.updated_at}}</td>

											<td class="text-center" v-on:click="item.details = !item.details">

												<span class="badge">{{item.Responses}}</span>
											</td>
											<td>
												<toggle-button v-model="item.passfail"
												               :color="{checked: '#43ac6a', unchecked: '#F04124'}"
												               :sync="true"
												               :width="55"
												               @change="item.dirty = true"
												               :labels="{checked: 'Pass', unchecked: 'Fail'}"/>

											</td>
											<td>
												<input v-model="item.comment" type="text" @change="item.dirty = true" :disabled="item.sending"
												       placeholder="Short comment..." name="body" class="form-control">
											</td>
											<td>
												<button class="btn btn-primary btn-xs" v-on:click="send(item,items)"
												        :disabled="item.sending" v-if="item.dirty">Save
												</button>
											</td>
										</tr>
										<tr v-if="item.details && item.Responses > 1" v-for="comment in item.comments" class="active">


											<td>&nbsp;</td>
											<td>{{comment.user.name}}</td>
											<td>{{comment.updated_at}}</td>
											<td>&nbsp;</td>
											<td>
												<span class="label label-success" v-if="comment.passfail == 1">Pass</span>
												<span class="label label-danger" v-if="comment.passfail == 0">Fail</span>
											</td>
											<td>
												{{comment.comment}}
											</td>
											<td>&nbsp;</td>

										</tr>

									</tbody>
									<tfoot v-if="items.client_edit">
									<tr>
										<th>&nbsp;</th>
										<th>
											<input v-model="form.function" class="form-control" placeholder="Add a requirement...">
										</th>
										<th>
											<button class="btn btn-primary btn-xs" :disabled="adding" v-on:click="create(functionItems.items)">Add</button>
										</th>
									</tr>
									</tfoot>
								</table>


							</div>
						</div>


					</div>
				</div>
			</div>


		</div>
	</div>

</template>
<script>
	export default {
		data() {
			return {
				list: [],
				combos: {},
				form: {},
				show: {},
				user: 0,
				adding: false
			};
		},

		created() {
			this.fetch();
			this.getCombos();
		},

		computed: {

		},

		methods: {

			create(items) {

				var item = items[0];
				this.form.projectstagegroups = item.projectstagegroups;
				this.form.projectstage = item.projectstage;
				this.form.projectstagegroupssorter = 99;
				this.form.functiongroup = item.functiongroup;

				this.adding = true;

				axios.post('projectscope',this.form).then((res) => {
					items.push(res.data);
					this.form = {};
					this.adding = false;
				});


			},

			del(id,index,items) {
				axios.delete('projectscope/'+id).then((res) => {
					items.splice(index,1);
				});
			},

			setUser(id) {
				this.user = id;
				this.fetch();
			},
			fetch() {
				this.list = [];
				axios.get('projectscope/get/'+this.user).then((res) => {
					this.list = res.data;
				});
			},
			getCombos() {
				this.list = [];
				axios.get('projectscope/combos').then((res) => {
					this.combos = res.data;
				});
			},
			toggle(item) {

				if (this.show[item]) {
					this.show[item] = !this.show[item];
				}else {
					this.show[item] = true;
				}
			},
			send(item,items) {

				item.sending = true;

				var payload = {
					user: this.user,
					projectscope_id: item.id,
					passfail: (item.passfail === true ? 1 : 0),
					comment: item.comment,
					status: item.status,
					func: item.function
				};

				axios.post('projectscopefeedback', payload).then((res) => {
					item.sending = false;
					item.dirty = false;
					item.name = res.data.name;
					item.updated_at = res.data.updated_at;
					item.Responses = res.data.Responses;
					item.comments = res.data.comments;
					items.totals = res.data.totals;
				});

			}

		}
	}
</script>
