// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

body {
	padding-top: 70px;
}

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch";

.form-control {
	height: 25px;
	padding: 3px 6px;
}

.nav-profile-photo {
	border: 2px solid #d3e0e9;
	border-radius: 50%;
	height: 40px;
	padding: 2px;
	width: 40px;
	height: 50px;
	width: 50px;
}

.m-r-xs {
	margin-right: 5px;
}

.scopepage {
	.label, label {
		margin-bottom: 0;
	}
	table.scopetable {
		td {
			vertical-align: middle !important;
		}
	}
}